$COLOR_PRIMARY: #ffffff;
$COLOR_FOREGROUND: rgba(#ffffff, 0.15); // 15% becomes 0.15
$COLOR_BORDER: rgba(#ffffff, 0.3);      // 30% becomes 0.3
$COLOR_LIGHT_TEXT: #ffffff;
$BORDER_RADIUS: 1rem;

$COLOR_MAIN_EVENT: #FFAF3F;
$COLOR_MAIN_EVENT_BORDER: darken($COLOR_MAIN_EVENT, 30%);
$COLOR_WORKSHOP: #EC5156;
$COLOR_WORKSHOP_BORDER: darken($COLOR_WORKSHOP, 15%);
$COLOR_MINI_EVENT: #009051;
$COLOR_MINI_EVENT_BORDER: darken($COLOR_MINI_EVENT, 15%);
$COLOR_SPONSOR: #528CA5;
$COLOR_SPONSOR_BORDER: darken($COLOR_SPONSOR, 15%);
$COLOR_FOOD: #6A166F;
$COLOR_FOOD_BORDER: darken($COLOR_FOOD, 30%);
